body{
    /* background-color: rgb(30, 32, 45); */
    color: white;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    background: rgb(2, 23, 43);
    background: radial-gradient(circle, rgb(2, 38, 71) 0%, rgb(3, 10, 44) 54%, rgb(1, 8, 41) 100%);
}

.title{
    margin-top: 8%;
    font-size: 50px;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle-game{
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: rgb(157, 193, 225, 0.06);
    border-radius: 13px;
    overflow: hidden; 
}

.game-target-shooting{
    position: absolute;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
}

.target {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(210, 124, 32);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@media (min-width: 992px) {

    .game-target-shooting{
        top: 320px;
    }
}
  